@import "tailwindcss";

@theme {
    --breakpoint-3xl: 1920px;
    --breakpoint-2xl: 1536px;
    --breakpoint-xl: 1280px;
    --breakpoint-lg: 1024px;
    --breakpoint-md: 768px;
    --breakpoint-sm: 640px;
    --breakpoint-xs: 480px;
    --color-primary: #3E5C50;
    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

@layer base {
    body {
        font-family: "Poppins", sans-serif;
        color: black;
    }
}

@layer components {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="url"],
    input[type="number"],
    input[type="date"],
    input[type="time"],
    select,
    textarea {
        @apply block w-full rounded-lg border border-slate-400 p-2 text-slate-600 shadow-md  placeholder:text-slate-300 bg-white focus:outline-none focus:ring-1 focus:ring-offset-0 focus:ring-primary transition;
    }

    label {
        @apply block text-sm font-medium leading-6 text-slate-700;
    }

    header {
        @apply bg-primary w-full top-0 start-0 border-b border-gray-200
    }

    nav {
        @apply max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2;
    }

    main {
        @apply max-w-screen-lg mx-auto px-4 py-8;
    }

    .primary-btn {
        @apply flex w-auto justify-center rounded-md bg-primary px-5 py-3 text-sm font-semibold text-white shadow-md transition hover:bg-slate-100 hover:text-slate-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#003366] disabled:bg-slate-400 disabled:cursor-not-allowed;
    }

    .text-link {
        @apply font-semibold text-blue-400 hover:text-primary transition;
    }

    .nav-link {
        @apply text-slate-700 bg-slate-50 hover:bg-primary hover:text-slate-50 rounded-md px-4 py-2 text-sm font-medium transition;
    }

    .nav-link.active {
        @apply bg-primary text-slate-50 border border-white;
    }

    .form {
        @apply bg-slate-100 shadow-xl rounded-lg p-6 mb-6;
    }

    .title {
        @apply my-6 text-center text-4xl font-bold leading-tight text-slate-900;
    }

    .subtitle {
        @apply text-center text-2xl text-slate-600 mb-4;
    }

    .error {
        @apply text-xs text-red-500 mt-1;
    }

    table {
        @apply w-full text-sm text-left rounded-lg shadow overflow-hidden mb-6 table-auto bg-white border border-slate-200;
    }

    thead {
        @apply text-xs uppercase font-semibold border-b border-slate-200 text-slate-600 bg-slate-50;
    }

    tbody tr {
        @apply hover:bg-slate-100 transition;
    }

    th {
        @apply px-6 py-4;
    }

    td {
        @apply px-6 py-4 border-b border-slate-200;
    }

    .avatar {
        @apply w-10 h-10 rounded-full overflow-hidden object-center object-cover;
    }

    .round-btn {
        @apply w-10 h-10 flex items-center justify-center rounded-full bg-slate-100 hover:bg-slate-200 transition focus:outline-none focus:ring-2 focus:ring-slate-300 focus:ring-offset-1;
    }
}
